h1{
    text-align: center;
}

form{
    width: 500px;
    margin: auto;
    background-color: bisque;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 4px 10px 10px rgba(201, 167, 167, 0.336);
}

form div {
    margin: 10px 0px;
}

label{
    display: block;
}

fieldset label {
    display: inline;
}
