* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

main {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-self: start;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flex-50 {
  flex: 50%;
}

.w-100 {
  width: 100%;
}
.aspect-video {
  aspect-ratio: 16/9;
}

.text {
  animation-name: text-in;
  animation-duration: 1s;
}
.video {
  animation-name: video-in;
  animation-duration: 3s;
}
.articles {
  animation-name: articles-in;
  animation-duration: 4s;
}

@keyframes text-in {
  0% {
    padding: 150px;
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
}

@keyframes video-in {
  0% {
    margin-left: -100%;
  }
}

@keyframes articles-in {
  0% {
    opacity: 0%;
  }
}
